# Игнорировать конфигурационные файлы
config/config.yaml
config/*.yaml

# Игнорировать виртуальное окружение (если используешь)
venv/
.env

# Игнорировать логи и временные файлы
*.log
*.tmp
__pycache__/
